<div class="container">

    <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <span id="#step-1-setup-panel" class="btn btn-{{ step == 1?'primary':'default' }} btn-circle " >1</span>
                <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
                <span id="#step-2-setup-panel" class="btn  btn-{{ step == 2?'primary':'default'  }} btn-circle" >2</span>
                <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
                <span id="#step-3-setup-panel" class="btn btn-{{ step == 3?'primary':'default'  }} btn-circle" >3</span>
                <p>Step 3</p>
            </div>
        </div>
    </div>


</div>

